.ko{
    display:flex;
   
     flex-direction: row;
    gap:20px;
}
.ki{
    border-radius: 10px;
}
@media (max-width:769px){
    .ko{
        /* flex-direction: row; */
         flex-direction: column;
    }
    .g{
        color: rgb(129, 29, 129);
    }
}